.robot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #0f0d0d;
}

.robot-face-shape {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    border-color: lime;
    border-style: solid;
    border-width: 2px;
    font-size: 18px;
}

.robot-eye-left {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 50px;
}

.robot-eye-right {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    left: 200px;
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
